<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Article</title>
  </head>
  <body>
    <h1>Post a new article...</h1>
    <div class='container'>
      <%= form_with scope: :article, url: articles_path, local: true do |form| %>
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title %>
        </p>

        <p>
          <%= form.label :text %><br>
          <%= form.text_area :text %>
        </p>

        <p>
          <div class="btn-large white-text waves-effect #ff4081 pink accent-2" >
            <%= form.submit %>
          </div>
        </p>
      <% end %>
    </div>
  </body>
</html>
