<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='body'>
    <nav class="nav-extended waves-effect #ff4081 pink accent-2">
      <div class="nav-wrapper" class="container">
        <a class="brand-logo">blogTastic</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul> -->
      </div>
      <div class="nav-content" class="container">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="/">Home</a></li>
          <li class="tab"><a href="/articles">Articles</a></li>
          <li class="tab"><a href="/articles/new">New article</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
